@model Quan_ly_thiet_bi.Models.EF.DEVICE
@{
    ViewBag.Title = "Detail_plan_repair";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
    var list_history = (List<Quan_ly_thiet_bi.Models.EF.HISTORY>)ViewBag.list_history;
  
}
@using (Html.BeginForm("Detail_plan_repair", "PlanRepair", FormMethod.Post))
{
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Chi tiết thiết bị</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-bordered" id="dataTable" style="width:50%;float:left;color:black; " cellspacing="0">
                    <tr>
                        <td>Tên thiết bị:</td>
                        <td>
                            @Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly",@style="background-color: white;border: 0px white;"} })
                        </td>
                    </tr>
                    <tr>
                        <td>Model:</td>
                        <td>
                            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Serial:</td>
                        <td>
                            @Html.EditorFor(model => model.ScortCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Nhà cung cấp:</td>
                        <td>
                            @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Nhóm thiết bị</td>
                        <td>
                            @Html.EditorFor(model => model.DeviceGroup, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "display:none" } })
                            @foreach (var item in list_group)
                            {
                                if (Model.DeviceGroup == item.ID_GROUP)
                                {
                                    @Html.EditorFor(model => item.NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Số lượng máy</td>
                        <td>@Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })</td>
                    </tr>
                    <tr>
                        <td>Giá thiết bị</td>
                        <td>
                            @Html.EditorFor(model => model.DevicePrice, "Currency", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Thời gian lắm đặt</td>
                        <td>
                            @Html.EditorFor(model => model.Installtime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly",@style= "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Kế hoạch sữa chữa:</td>
                        <td>
                            @Html.EditorFor(model => model.DatePlan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Mục đích</td>
                        <td>
                            @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Vị trí</td>
                        <td>
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                    <tr>
                        <td>Tình trạng</td>
                        <td>
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly",@style = "display:none" } })
                            @if (Model.Status == 0)
                            {
                                <p>Dừng hoạt động</p>
                            }
                            else
                            {
                                <p>Đang hoạt động</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ghi chú</td>
                        <td>
                            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered" id="dataTable" style="width:50%;color:black;" cellspacing="0">
                    <tr>
                        <td>Nhân viên</td>
                        <td>
                            @foreach (var item_user in list_user)
                            {
                                if (Model.Creator == item_user.ID_USER)
                                {
                                    @Html.EditorFor(model => item_user.NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: white;border: 0px white;" } })
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ảnh thiết bị</td>
                        <td>
                            @Html.EditorFor(model => model.Image1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "display:none;" } })
                            <img src="@Html.DisplayFor(model=>model.Image1)" style="width:200px;height:189px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày thực hiện kiểm tra</td>
                        <td>
                          <input type="date" id="DateMaintenance" name="DateMaintenance" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Số lượng máy kiểm tra</td>
                        <td>
                           
                            <input type="text" class="form-control" id="QUANTITY" name="QUANTITY" />
                        </td>
                    </tr>
                    <tr>
                        <td>Trạng thái sữa chữa:</td>
                        <td>
                            <div class="col-4" style="float:left">
                                @Html.RadioButtonFor(m => m.Updater, "Đã sửa chữa") Pass
                            </div>
                            <div class="col-4" style="float:left">
                                @Html.RadioButtonFor(m => m.Updater, "NG") NG
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Lỗi phát sinh:</td>
                        <td>
                            <input type="text" class="form-control" id="NOTE" name="NOTE" />
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Update" class="btn btn-primary" style="float:right;" id="btnsubmit" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/history.js"></script>


