@model Quan_ly_thiet_bi.Models.EF.DEVICE
@{
    ViewBag.Title = "Detail_device";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_history = (List<Quan_ly_thiet_bi.Models.EF.HISTORY>)ViewBag.list_history;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết thiết bị</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-bordered" id="dataTable" style="width:50%;float:left;color:black;" cellspacing="0" >
                <tr>
                    <th>Tên thiết bị:</th>
                    <td>
                        @Model.DeviceName
                    </td>
                </tr>
                <tr>
                    <th>Model:</th>
                    <td>
                        @Model.Model
                    </td>
                </tr>
                <tr>
                    <th>Serial:</th>
                    <td>
                        @Model.ScortCode
                    </td>
                </tr>
                <tr>
                    <th>Nhà cung cấp:</th>
                    <td>
                        @Model.VendorName
                    </td>
                </tr>
                <tr>
                    <th>Giá thiết bị:</th>
                    <td>
                        @String.Format("{0:c}",Model.DevicePrice)
                    </td>
                </tr>
                <tr>
                    <th>Nhóm thiết bị</th>
                    <td>
                                @foreach (var item in list_group)
                                {
                                    if (Model.DeviceGroup==item.ID_GROUP)
                                    {
                                     @item.NAME
                                    }
                                }
                    </td>
                </tr>
                <tr>
                    <th>Số lượng</th>
                    <td>
                        @Model.Qty
                    </td>
                </tr>
                <tr>
                    <th>Kế hoạch kiểm tra</th>
                    <td>
                     @Html.DisplayFor(model=>model.DatePlan) 
                    </td>
                </tr>
                <tr>
                    <th>Thời gian thực hiện kiểm tra</th>
                    <td>
                       @Html.DisplayFor(model => model.DateMaintenance)
                    </td>
                </tr>
                <tr>
                    <th>Mục đích</th>
                    <td>
                        @Model.Purpose
                    </td>
                </tr>
                <tr>
                    <th>Ghi chú</th>
                    <td>
                       @Model.Remark
                    </td>
                </tr>
            </table>
            <table class="table table-bordered" id="dataTable" style="width:50%;color:black;" cellspacing="0">
                <tr>
                    <th>Nhân viên</th>
                    <td>
                        @foreach (var item in list_user)
                        {
                            if (Model.Creator == item.ID_USER)
                            {
                                @item.NAME
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>Hình ảnh</th>
                    <td>
                    <img src="@Model.Image1" style="width:200px;height:220px;"/>
                  </td>
                </tr>
                <tr>
                    <th>Thời gian lắp đặt</th>
                    <td>
                     @Html.DisplayFor(model => model.Installtime)
                    </td>
                </tr>
                <tr>
                    <th>Tình trạng</th>
                    <td>
                        @if (Model.Status == 0)
                        {
                            <p>Dừng hoạt động</p>
                        } else
                        {
                            <p>Đang hoạt động</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Kết quả kiểm tra</th>
                    <td>
                        @Model.Updater 
                       (@foreach (var item_his in list_history)
                       {
                           if (item_his.ID_DEVICE == Model.Id && item_his.STATUS == TaskType.Repair.ToString())
                           {
                            @item_his.NOTE
                           }
                       }) 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

