@model Quan_ly_thiet_bi.Models.EF.DEVICE
@{
    ViewBag.Title = "Detail_device";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết thiết bị</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-bordered" id="dataTable" style="width:50%;float:left;color:black;" cellspacing="0" >
                <tr>
                    <td>Tên thiết bị:</td>
                    <td>
                        @Model.DeviceName
                    </td>
                </tr>
                <tr>
                    <td>Model:</td>
                    <td>
                        @Model.Model
                    </td>
                </tr>
                <tr>
                    <td>Serial:</td>
                    <td>
                        @Model.Serial
                    </td>
                </tr>
                <tr>
                    <td>Nhà cung cấp:</td>
                    <td>
                        @Model.VendorName
                    </td>
                </tr>
                <tr>
                    <td>Nhóm thiết bị</td>
                    <td>
                                @foreach (var item in list_group)
                                {
                                    if (Model.DeviceGroup==item.ID_GROUP)
                                    {
                                     @item.NAME
                                    }
                                }
                    </td>
                </tr>
                <tr>
                    <td>Số lượng</td>
                    <td>
                        @Model.Qty
                    </td>
                </tr>
                <tr>
                    <td>Ngày sửa chữa:</td>
                    <td>
                        @Model.DateMaintenance
                    </td>
                </tr>
                <tr>
                    <td>Mục đích</td>
                    <td>
                        @Model.Remark
                    </td>
                </tr>
                <tr>
                    <td>Ghi chú</td>
                    <td>
                       @Model.Purpose
                    </td>
                </tr>
            </table>
            <table class="table table-bordered" id="dataTable" style="width:50%;color:black;" cellspacing="0">
                <tr>
                    <td>Nhân viên</td>
                    <td>
                       @Model.Creator
                    </td>
                </tr>
                <tr>
                    <td>Hình ảnh</td>
                    <td>
                    <img src="@Model.Image1" style="width:200px;height:200px;"/>
                  </td>
                </tr>
                <tr>
                    <td>Ngày nhập thiết bị</td>
                    <td>
                      @Model.Updatetime
                    </td>
                </tr>
                <tr>
                    <td>Trạng thái sữa chữa</td>
                    <td>
                        @Model.Updater
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

