@model Quan_ly_thiet_bi.Models.EF.DEVICE
@{
    ViewBag.Title = "Detail_device";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_history = (List<Quan_ly_thiet_bi.Models.EF.HISTORY>)ViewBag.list_history;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
    var list_main = (List<Quan_ly_thiet_bi.Models.EF.Maintenance>)ViewBag.list_main;
    var list_check = (List<Quan_ly_thiet_bi.Models.EF.Checkmaintenance>)ViewBag.list_check;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết thiết bị</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width:50%;float:left;color:black;" cellspacing="0">
                    <tr style="background-color:#4e73df;">
                        <th>Tên thiết bị</th>
                        <th>Nhóm thiết bị</th>
                        <th>Ảnh</th>
                        <th>Model</th>
                        <th>Serial</th>
                        <th>Nhà cung cấp</th>
                        <th>Số lượng</th>
                        <th>Giá </th>
                        <th>Vị trí</th>
                        <th>Thời gian lắp đặt</th>
                        <th>Tình trạng</th>
                        <th>Hạng mục kiểm tra</th>
                        <th>Phân loại</th>
                        <th>Tần suất</th>
                        <th>Người phụ trách</th>
                        <th>Ngày kế hoạch</th>
                        <th>Ngày bảo dưỡng</th>
                        <th>Kết quả bảo dưỡng</th>
                    </tr>
                    <tr>
                        <td>
                            @Model.DeviceName
                        </td>
                        <td>
                            @foreach (var item_group in list_group)
                            {
                                if (item_group.ID_GROUP == Model.DeviceGroup)
                                {
                                    @item_group.NAME
                                }
                            }
                        </td>
                        <td>
                            <img src="@Model.Image1" style="width:150px;height:150px;" />
                        </td>
                        <td>
                            @Model.Model
                        </td>
                        <td>
                            @Model.ScortCode
                        </td>
                        <td>
                            @Model.VendorName
                        </td>
                        <td>
                            @Model.Qty
                        </td>
                        <td>
                           @String.Format("{0:C}", Model.DevicePrice)

                        </td>
                        <td>
                            @Model.Location
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Installtime)
                        </td>

                        <td>
                            @if (Model.Status == 0)
                            {
                                <p>Dừng hoạt động</p>
                            }
                            else
                            {
                                <p>Đang hoạt động</p>
                            }
                        </td>
                        <td>
                            <table style="width: 160px;margin:-12px;">
                                @foreach (var item_main in list_main)
                                {
                                    if (item_main.Id_device == Model.Id && item_main.DateMaintenance != null)
                                    {
                                        foreach (var item_check in list_check)
                                        {
                                            if (item_check.Id__Checkmaintenace == item_main.Checkmaintenance)
                                            {

                                                <tr>
                                                    <td>
                                                        @item_check.Checkmaintenace
                                                    </td>
                                                </tr>

                                            }
                                        }

                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="width: 160px;margin-left: -12px;margin-right: -12px;margin-top: -12px;margin-bottom: -31px;min-height: 73px;">
                                @foreach (var item_main in list_main)
                                {
                                    if (item_main.Id_device == Model.Id && item_main.DateMaintenance != null)
                                    {
                                        foreach (var item_check in list_check)
                                        {
                                            if (item_check.Id__Checkmaintenace == item_main.Checkmaintenance)
                                            {
                                                <tr style="height:73px;">
                                                    <td>
                                                        @item_check.Classifymaintenance
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="width: 100px;margin-left: -12px;margin-right: -12px;margin-top: -12px;margin-bottom: -31px;min-height: 73px;">
                                @foreach (var item_main in list_main)
                                {
                                    if (item_main.Id_device == Model.Id && item_main.DateMaintenance != null)
                                    {

                                        <tr>
                                            <td style="height:73px;">
                                                @item_main.FrequencyCheck
                                            </td>
                                        </tr>

                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="width: 85px;margin-left: -12px;margin-right: -12px;margin-top: -12px;margin-bottom: -31px;min-height: 73px;">
                                @foreach (var item_main in list_main)
                                {
                                    if (item_main.Id_device == Model.Id && item_main.DateMaintenance != null)
                                    {

                                        <tr>
                                            <td style="height:73px;">
                                                @item_main.Personmaintenance
                                            </td>
                                        </tr>

                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="width: 110px;margin-left: -12px;margin-right: -12px;margin-top: -12px;margin-bottom: -31px;min-height: 73px;">
                                @foreach (var item_main in list_main)
                                {
                                    if (item_main.Id_device == Model.Id && item_main.DateMaintenance != null)
                                    {

                                        <tr>
                                            <td style="height:73px;">
                                                @Html.DisplayFor(m => item_main.DatePlan)
                                            </td>
                                        </tr>

                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="width: 110px;margin-left: -12px;margin-right: -12px;margin-top: -12px;margin-bottom: -31px;min-height: 73px;">
                                @foreach (var item_main in list_main)
                                {
                                    if (item_main.Id_device == Model.Id && item_main.DateMaintenance != null)
                                    {

                                        <tr>
                                            <td style="height:73px;">
                                                @Html.DisplayFor(m => item_main.DateMaintenance)
                                            </td>
                                        </tr>

                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="width: 110px;margin-left: -12px;margin-right: -12px;margin-top: -12px;margin-bottom: -31px;min-height: 73px;">
                                @foreach (var item_his in list_history)
                                {
                                        foreach (var itemmain in list_main)
                                        {
                                            if (item_his.UPDATE_CHECK == itemmain.DateMaintenance && item_his.ID_DEVICE==Model.Id && item_his.STATUS==TaskType.Repair.ToString())
                                            {
                                                <tr style="height:73px;">
                                                    <td style="height:73px;">

                                                        @item_his.NOTE
                                                    </td>
                                                </tr>
                                            }
                                        }
                                }
                                </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

