@model Quan_ly_thiet_bi.Models.EF.Maintenance
@{
    ViewBag.Title = "Detail_device";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_history = (List<Quan_ly_thiet_bi.Models.EF.HISTORY>)ViewBag.list_history;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
    var list_check = (List<Quan_ly_thiet_bi.Models.EF.Checkmaintenance>)ViewBag.list_check;
    var list_device =(List<Quan_ly_thiet_bi.Models.EF.DEVICE>)ViewBag.list_device;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết thiết bị</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width:50%;float:left;color:black;" cellspacing="0">
                    <tr style="background-color:#4e73df;">
                        <th>Tên thiết bị</th>
                        <th>Nhóm thiết bị</th>
                        <th>Ảnh</th>
                        <th>Model</th>
                        <th>Serial</th>
                        <th>Nhà cung cấp</th>
                        <th>Số lượng</th>
                        <th>Giá </th>
                        <th>Vị trí</th>
                        <th>Thời gian lắp đặt</th>
                        <th>Tình trạng</th>
                        <th>Hạng mục kiểm tra</th>
                        <th>Phân loại</th>
                        <th>Tần suất</th>
                        <th>Người phụ trách</th>
                        <th>Ngày bảo dưỡng</th>
                        <th>Kế hoạch bảo dưỡng tiếp theo</th>
                        <th>Kết quả bảo dưỡng</th>
                    </tr>
                    <tr>
                        @foreach (var item_device in list_device)
                        {
                            if (Model.Id_device== item_device.Id )
                            {
                                <td>
                                    @item_device.DeviceName
                                </td>
                                <td>
                                    @foreach (var item_group in list_group)
                                    {
                                        if (item_group.ID_GROUP == item_device.DeviceGroup)
                                        {
                                            @item_group.NAME
                                        }
                                    }
                                </td>
                                <td>
                                    <img src="@item_device.Image1" style="width:150px;height:150px;" />
                                </td>
                                <td>
                                    @item_device.Model
                                </td>
                                <td>
                                    @item_device.ScortCode
                                </td>
                                <td>
                                    @item_device.VendorName
                                </td>
                                <td>
                                    @item_device.Qty
                                </td>
                                <td>
                                    @String.Format("{0:C}", item_device.DevicePrice)

                                </td>
                                <td>
                                    @item_device.Location
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item_device.Installtime)
                                </td>

                                <td>
                                    @if (item_device.Status == 0)
                                    {
                                        <p>Dừng hoạt động</p>
                                    }
                                    else
                                    {
                                        <p>Đang hoạt động</p>
                                    }
                                </td>
                                <td>
                                  @foreach (var item_check in list_check)
                                                {
                                                    if (item_check.Id__Checkmaintenace == Model.Checkmaintenance)
                                                    {
                                                                @item_check.Checkmaintenace
                                                    }
                                                }

    
                                </td>
                                <td>
                                               @foreach (var item_check in list_check)
                                                {
                                                    if (item_check.Id__Checkmaintenace == Model.Checkmaintenance)
                                                    {
                                                                @item_check.Classifymaintenance
                                                    }
                                               }
                                </td>
                                <td>
                                   @foreach (var item_check in list_check)
                                   {
                                       if (item_check.Id__Checkmaintenace == Model.Checkmaintenance)
                                       {
                                        @item_check.FrequencyCheck
                                       }
                                   }
                                </td>
                                <td>
                                    @Model.Personmaintenance
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(m=> m.DateMaintenance)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.DatePlan)
                                </td>
                                <td>
                                        @foreach (var item_his in list_history)
                                        {
                                            if (item_his.UPDATE_CHECK == Model.DateMaintenance && item_his.ID_DEVICE == Model.Id_device && item_his.STATUS == TaskType.Repair.ToString())
                                            {
                                                if(item_his.NOTE  == null)
                                                {
                                                    <p>Đã bảo dưỡng</p>
                                                }
                                                else
                                                {
                                                    @item_his.NOTE
                                                }
                                            }
                                        }
                                </td>
                            }
                        }
               
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

