@model IEnumerable<Quan_ly_thiet_bi.Models.EF.DEVICE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
}
 
<form method="post" action="/Home/Edit_device">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Danh sách thiết bị</h1>
        
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="float:right;">
                    @{
                        var session = (Quan_ly_thiet_bi.Common.UserLogin)Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION];
                    }
                    @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                    {
                        var id_rule = session.ID_RULE;
                        if (id_rule == "R001")
                        {
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btn_add_click">
                                <i class="fa fa-plus"> Thêm mới</i>
                            </button>
                        }
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" @*width="100%"*@ cellspacing="0" style="color:black;">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th style="display:none;"></th>
                                <th>Tên thiết bị</th>
                                <th>Model</th>
                                <th>Serial</th>
                                <th>Nhà cung cấp</th>
                                <th>Số lượng</th>
                                <th>Kế hoạch sửa chữa</th>
                                <th>Nhân viên</th>
                                @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                {
                                    var id_rule = session.ID_RULE;
                                    if (id_rule == "R001")
                                    {
                                        <th style="color:black;">Thao tác</th>
                                    }
                                }
                               
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0; }
                            @foreach (var items in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td style="display:none;">@items.Id</td>
                                    <td><a href="/Home/Detail_device/@items.Id">@items.DeviceName</a></td>
                                    <td>@items.Model</td>
                                    <td>@items.Serial</td>
                                    <td>@items.VendorName</td>
                                    <td>@items.Qty</td>
                                    <td>@Html.DisplayFor(m=>items.DateMaintenance)</td>
                                    <td>
                                    @foreach(var u in list_user)
                                    {
                                        if(u.ID_USER== @items.Creator)
                                        {
                                            @u.NAME
                                        }
                                    }
                                    </td>
                                        @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                        {
                                            var id_rule = session.ID_RULE;
                                            if (id_rule == "R001")
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-success" onclick="Sua(this)" data-toggle="modal" data-target="#myModal" data-id="@items.Id" id="btn_edit"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-danger" onclick="Xoa(this)" title="Xóa"><i class="fa fa-trash"></i></button>
                                                </td>
                                            }
                                        }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
        <!-- Modal add-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    </div>
                    <div class="modal-body">
                        <div class="col-12" style="display:none;">
                            <input type="text" class="form-control" id="Id" name="Id" />
                        </div>
                        <div class="col-12" style="margin:5px 0px;">
                            <label>Tên thiết bị:</label>
                            <input type="text" class="form-control" placeholder="Tên thiết bị" required id="DeviceName" name="DeviceName" />
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Model</label>
                                <input type="text" class="form-control" placeholder="Model" required id="Model" name="Model" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Serial</label>
                                <input type="text" class="form-control" placeholder="Serial" required id="Serial" name="Serial" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Nhà cung cấp:</label>
                                <input type="text" class="form-control" placeholder="Nhà cung cấp" required id="VendorName" name="VendorName" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Số lượng:</label>
                                <input type="text" class="form-control" placeholder="Số lượng" required id="Qty" name="Qty" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Nhóm thiết bị:</label>
                                <select class="form-control" id="DeviceGroup" name="DeviceGroup">
                                    @foreach (var ca in list_group)
                                    {
                                        <option value="@ca.ID_GROUP">@ca.NAME</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Mục đích:</label>
                                <input type="text" class="form-control" placeholder="Mục đích" required id="Purpose" name="Purpose" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Kế hoạch sửa chữa:</label>
                                <input type="date" class="form-control" id="DateMaintenance" name="DateMaintenance" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Vị trí</label>
                               <input type="text" class="form-control"  id="Location" name="Location" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Hình ảnh</label>
                                <input type="text" class="form-control" id="Image1" name="Image1" />
                                <button type="button" class="btn btn-primary" id="selectImg">Chọn ảnh </button>
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Trạng thái</label><br />
                                <input type="radio" id="Status" name="Status" value="Đang hoạt động" /> Đang hoạt động
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_close" >Đóng</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_Add" value="Thêm">Thêm</button>
                        <input type="submit" name="submit" class="btn btn-primary" id="btn_sua" value="Lưu" />
                    </div>
                </div>
            </div>
        </div>

     </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js" integrity="sha512-h3RrO+eudpiPUYFkwORXD2ppuy9jOXQ+MzVEIo7k+OuA7y9Ze5jsQ5WN/ZSgI+ZSIngT6pDSaqpgmnam2HPe1g==" crossorigin="anonymous"></script>
<script src="~/Scripts/device.js"></script>
<script>
    $("body").on("click", "#btn_Add", function () {

        if ($("#DeviceName").val() == "" || $("#Model").val() == "") {
            alert("Hãy nhập giá trị!");
        }
        else {
            var DeviceName = $("#DeviceName");
            var Model = $("#Model");
            var Serial = $("#Serial");
            var VendorName = $("#VendorName");
            var Qty = $("#Qty");
            var DeviceGroup = $("#DeviceGroup");
            var Purpose = $("#Purpose");
            var Location = $("#Location");
            var DateMaintenance = $("#DateMaintenance");
            var Image1 = $("#Image1");
            $.ajax({
                type: "POST",
                url: "/Home/Insert_device",
                data: '{DeviceName:"' + DeviceName.val() + '",Model:"' + Model.val() + '",Serial:"' + Serial.val() + '",VendorName:"' + VendorName.val() + '",Qty:"' + Qty.val() + '",DeviceGroup:"' + DeviceGroup.val() + '",Purpose:"' + Purpose.val() + '",Location:"' + Location.val() + '",DateMaintenance:"' + DateMaintenance.val() + '",Image1:"' + Image1.val() + '"}',
                contentType: "application/json charset=utf-8",
                datatype: "json",
                success: function () {
                    var newrow = $("#dataTable tr:last-child");
                    window.location.reload();
                    DeviceName.val() = "";
                    Model.val() = "";
                    Serial.val() = "";
                    VendorName.val() = "";
                    Qty.val() = "";
                    DeviceGroup.val() = "";
                    Purpose.val() = "";
                    Location.val() = "";
                    DateMaintenance.val() = "";
                    Image1.val() = "";
                }
            });
        }
    });
</script>