@model IEnumerable<Quan_ly_thiet_bi.Models.EF.DEVICE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
}
<form method="post" action="/Home/Edit_device">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Danh sách thiết bị</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="float:right;">
                    @{
                        var session = (Quan_ly_thiet_bi.Common.UserLogin)Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION];
                    }
                    @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                    {
                        var id_rule = session.ID_RULE;
                        if (id_rule == "R001")
                        {
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btn_add_click">
                                <i class="fa fa-plus"> Thêm mới</i>
                            </button>
                        }
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="color:black;">STT</th>
                                <th style="display:none;"></th>
                                <th style="color:black;">Tên thiết bị</th>
                                <th style="color:black;">Model</th>
                                <th style="color:black;">Serial</th>
                                <th style="color:black;">Nhà cung cấp</th>
                                <th style="color:black;">Số lượng</th>
                                <th style="color:black;">Kế hoạch sửa chữa</th>
                                <th style="color:black;">Nhân viên</th>
                                @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                {
                                    var id_rule = session.ID_RULE;
                                    if (id_rule == "R001")
                                    {
                                        <th style="color:black;">Thao tác</th>
                                    }
                                }
                               
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0; }
                            @foreach (var items in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td style="display:none;">@items.Id</td>
                                    <td><a href="/Home/Detail_device/@items.Id">@items.DeviceName</a></td>
                                    <td>@items.Model</td>
                                    <td>@items.Serial</td>
                                    <td>@items.VendorName</td>
                                    <td>@items.Qty</td>
                                    <td>@items.DateMaintenance</td>
                                    <td>@items.Creator</td>
                                    
                                        @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                        {
                                            var id_rule = session.ID_RULE;
                                            if (id_rule == "R001")
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-success" onclick="Sua(this)" data-toggle="modal" data-target="#myModal" data-id="@items.Id"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-danger" onclick="Xoa(this)" title="Xóa"><i class="fa fa-trash"></i></button>
                                                </td>
                                            }
                                        }
                                       
                                    
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
        <!-- Modal add-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12" style="display:none;">
                            <label></label>
                            <input type="text" class="form-control" id="Id" name="Id" />

                        </div>
                        <div class="col-12" style="margin:5px 0px;">
                            <label>Tên thiết bị:</label>
                            <input type="text" class="form-control" placeholder="Tên thiết bị" required id="DeviceName" name="DeviceName" />
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Model</label>
                                <input type="text" class="form-control" placeholder="Model" required id="Model" name="Model" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Serial</label>
                                <input type="text" class="form-control" placeholder="Serial" required id="Serial" name="Serial" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Nhà cung cấp:</label>
                                <input type="text" class="form-control" placeholder="Nhà cung cấp" required id="VendorName" name="VendorName" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Số lượng:</label>
                                <input type="text" class="form-control" placeholder="Số lượng" required id="Qty" name="Qty" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Nhóm thiết bị:</label>
                                <select class="form-control" id="DeviceGroup" name="DeviceGroup">
                                    @foreach (var ca in list_group)
                                    {
                                        <option value="@ca.ID_GROUP">@ca.NAME</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Mục đích:</label>
                                <input type="text" class="form-control" placeholder="Mục đích" required id="Purpose" name="Purpose" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label>Kế hoạch sửa chữa:</label>
                                <input type="date" class="form-control" id="DateMaintenance" name="DateMaintenance" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label>Ghi chú:</label>
                                <input type="text" class="form-control" placeholder="" required id="Remark" name="Remark" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_Add" value="Thêm">Lưu</button>
                        @*<input type="submit" name="submit" class="btn btn-primary" id="bt_them" value="Thêm" />*@
                        <input type="submit" name="submit" class="btn btn-primary" id="btn_sua" value="Lưu" />
                    </div>
                </div>
            </div>
        </div>

     </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js" integrity="sha512-h3RrO+eudpiPUYFkwORXD2ppuy9jOXQ+MzVEIo7k+OuA7y9Ze5jsQ5WN/ZSgI+ZSIngT6pDSaqpgmnam2HPe1g==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("btn_add_click").click(function () {
            $("#btn_sua").hide();
        });
    })
    $("body").on("click", "#btn_Add", function () {
        
        if ($("#DeviceName").val() == "" || $("#Model").val() == "") {
            alert("Hãy nhập giá trị!");
        }
        else {
            var DeviceName = $("#DeviceName");
            var Model = $("#Model");
            var Serial = $("#Serial");
            var VendorName = $("#VendorName");
            var Qty = $("#Qty");
            var DeviceGroup = $("#DeviceGroup");
            var Purpose = $("#Purpose");
            var Remark = $("#Remark");
            var DateMaintenance = $("#DateMaintenance");
            $.ajax({
                type: "POST",
                url: "/Home/Insert_device",
                data: '{DeviceName:"' + DeviceName.val() + '",Model:"' + Model.val() + '",Serial:"' + Serial.val() + '",VendorName:"' + VendorName.val() + '",Qty:"' + Qty.val() + '",DeviceGroup:"' + DeviceGroup.val() + '",Purpose:"' + Purpose.val() + '",Remark:"' + Remark.val() + '",DateMaintenance:"'+DateMaintenance.val()+'"}',
                contentType: "application/json charset=utf-8",
                datatype: "json",
                success: function () {
                    var newrow = $("#dataTable tr:last-child");
                    window.location.reload();
                    DeviceName.val() = "";
                    Model.val() = "";
                    Serial.val() = "";
                    VendorName.val() = "";
                    Qty.val() = "";
                    DeviceGroup.val() = "";
                    Purpose.val() = "";
                    Remark.val() = "";
                    DateMaintenance.val() = "";
                }
            });
        }
    });
    function Xoa(el) {
        var id = el.parentNode.parentNode.cells[1].textContent;
        $.ajax({
            url: '/Home/Delete_Device/?id=' + id,
            type: 'POST',
            dataType: 'json',
            success: function () {
                alert("Xóa thành công");
                window.location.reload();
            },
            error: function () {
                alert("Xóa thất bại");
                window.location.reload();
            }
        });
    }
    function Sua(el) {
        event.preventDefault();
        $("#btn_sua").show();
        var id = el.parentNode.parentNode.cells[1].textContent;
        $.ajax({
            url: "/Home/Get_device/?Id=" + id,
            type: "GET",
            dataType: 'json',
            success: function (data) {
                var json = JSON.parse(data);
                $("#Id").val(json.Id)
                $("#DeviceName").val(json.DeviceName);
                $("#Model").val(json.Model);
                $("#Serial").val(json.Serial);
                $("#VendorName").val(json.VendorName);
                $("#Qty").val(json.Qty);
                $("#DeviceGroup").val(json.DeviceGroup);
                $("#Purpose").val(json.Purpose);
                $("#Remark").val(json.Remark);
                $("#DateMaintenance").val(json.DateMaintenance);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>
