@model IEnumerable<Quan_ly_thiet_bi.Models.EF.DEVICE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
}
 
<form method="post" action="/Home/Edit_device" >
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Danh sách thiết bị</h1>
        
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="float:right;">
                    @{
                        var session = (Quan_ly_thiet_bi.Common.UserLogin)Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION];
                    }
                    @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                    {
                        var id_rule = session.ID_RULE;
                        if (id_rule == "R001")
                        {
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btn_add_click">
                                <i class="fa fa-plus"> Thêm mới</i>
                            </button>
                        }
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" @*width="100%"*@ cellspacing="0" style="color:black;">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th style="display:none;"></th>
                                <th>Tên thiết bị</th>
                                <th>Hình ảnh</th>
                                <th>Model</th>
                                <th>Serial</th>
                                <th>Nhà cung cấp</th>
                                <th>Số lượng</th>
                                <th>Vị trí</th>
                                <th>Kế hoạch sửa chữa</th>
                                <th>Nhân viên</th>
                                @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                {
                                    var id_rule = session.ID_RULE;
                                    if (id_rule == "R001")
                                    {
                                        <th style="color:black;">Thao tác</th>
                                    }
                                }
                               
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0; }
                            @foreach (var items in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td style="display:none;">@items.Id</td>
                                    <td><a href="/Home/Maintenance/@items.Id">@items.DeviceName</a></td>
                                    <td><img src="@items.Image1" style="width:120px;height:100px;"/></td>
                                    <td>@items.Model</td>
                                    <td>@items.ScortCode</td>
                                    <td>@items.VendorName</td>
                                    <td>@items.Qty</td>
                                    <td>@items.Location</td>
                                    <td>@Html.DisplayFor(m=>items.DatePlan)</td>
                                    <td>
                                    @foreach(var u in list_user)
                                    {
                                        if(u.ID_USER== @items.Creator)
                                        {
                                            @u.NAME
                                        }
                                    }
                                    </td>
                                        @if (Session[Quan_ly_thiet_bi.Common.Constant.USER_SESSION] != null)
                                        {
                                            var id_rule = session.ID_RULE;
                                            if (id_rule == "R001")
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-success" onclick="Sua(this)" data-toggle="modal" data-target="#myModal" data-id="@items.Id" id="btn_edit"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-danger" onclick="Xoa(this)" title="Xóa"><i class="fa fa-trash"></i></button>
                                                </td>
                                            }
                                        }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
        <!-- Modal add-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    </div>
                    <div class="modal-body">
                        <div class="col-12" style="display:none;">
                            <input type="text" class="form-control" id="Id" name="Id" />
                        </div>
                        <div class="col-12" style="margin:5px 0px;">
                            <label><b>Tên thiết bị:</b></label>
                            <input type="text" class="form-control" placeholder="Tên thiết bị" required id="DeviceName" name="DeviceName" @*onchange="DeviceCheck()*@ />
                            @*<span id="Status"></span>*@
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label><b>Model</b></label>
                                <input type="text" class="form-control" placeholder="Model" required id="Model" name="Model" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label><b>Serial</b></label>
                                <input type="text" class="form-control" placeholder="Serial" required id="ScortCode" name="ScortCode" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label><b>Nhà cung cấp:</b></label>
                                <input type="text" class="form-control" placeholder="Nhà cung cấp" required id="VendorName" name="VendorName" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label><b>Số lượng:</b></label>
                                <input type="text" class="form-control" placeholder="Số lượng" digits id="Qty" name="Qty" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label><b>Nhóm thiết bị:</b></label>
                                <select class="form-control" id="DeviceGroup" name="DeviceGroup" >
                                    @foreach (var ca in list_group)
                                    {
                                        <option value="@ca.ID_GROUP">@ca.NAME</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6" style="float:left;">
                                <label><b>Giá tiền:</b></label>
                                <input type="text" class="form-control" id="DevicePrice" name="DevicePrice" />
                               
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label><b>Kế hoạch sửa chữa:</b></label>
                                <input type="date" class="form-control" id="DatePlan" name="DatePlan" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label><b>Vị trí</b></label>
                               <input type="text" class="form-control"  id="Location" name="Location" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                            <div class="col-6" style="float:left;">
                                <label><b>Thời gian lắp đặt:</b></label>
                                <input type="date" class="form-control" id="Installtime" name="Installtime" />
                            </div>
                            <div class="col-6" style="float:left;">
                                <label><b>Ghi chú:</b></label>
                                <input type="text" class="form-control" required id="Remark" name="Remark" />
                            </div>
                        </div>
                        <div class="container-modal" style="margin:5px 0px;">
                  
                            <div class="col-12" style="float:left;">
                                <label><b>Trạng thái</b></label><br />
                                <input type="radio" id="Status" name="Status" value="1" /> Đang hoạt động
                                <input type="radio" id="Status" name="Status" value="0" /> Dừng hoạt động
                            </div>
                        </div>
                        <div class="col-12" style="margin:5px 0px;float:left;">
                            <label>Hình ảnh</label>
                            <input type="text" class="form-control" id="Image1" name="Image1" />
                            <button type="button" class="btn btn-primary" id="selectImg">Chọn ảnh </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_close" >Đóng</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_Add" value="Thêm" >Thêm</button>
                        <input type="submit" name="submit" class="btn btn-primary" id="btn_sua" value="Lưu" />
                    </div>
                </div>
            </div>
        </div>

     </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js" integrity="sha512-h3RrO+eudpiPUYFkwORXD2ppuy9jOXQ+MzVEIo7k+OuA7y9Ze5jsQ5WN/ZSgI+ZSIngT6pDSaqpgmnam2HPe1g==" crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="~/Scripts/devicemanager.js"></script>
<script>
    $(document).ready(function(){
        $("#DeviceGroup").click(function(){
            if ($('#DeviceGroup option:selected').val() == "178fe3f9-017b-43a7-95e3-aaffc7d3a24b") {
                $("#Thietbidien").show();
                $("#PCCC").hide();
                $("#HTLNRO10001").hide();
            }
            else if ($('#DeviceGroup option:selected').val() == "82bc7bc7-4d0e-4fe5-82f2-cb6dfa128806")
            {
                $("#Thietbidien").hide();
                $("#PCCC").hide();
                $("#HTLNRO10001").show();
            }
            else if ($('#DeviceGroup option:selected').val() == "4441afb5-38ae-4513-a9ca-76ce980d0ae6")
            {
                $("#Thietbidien").hide();
                $("#PCCC").show();
                $("#HTLNRO10001").hide();
            }
        });
    });
   
</script>
@*<script>
    function DeviceCheck() {
        $("#Status").html("");
        $.post("@Url.Action("Insert_device", "Home")",
    {
        DeviceName: $("#DeviceName").val()
    },
    function (data) {
        if (data == 1) {
            $("#Status").html('<font color="Red">Tên thiết bị đã tồn tại</font>');
        }
        else {
            $("#Status").html('<font></font>');
        }
    });
    }
</script>*@