@model Quan_ly_thiet_bi.Models.EF.DEVICE
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_group = (List<Quan_ly_thiet_bi.Models.EF.GROUP_DEVICE>)ViewBag.list_group;
    var list_history = (List<Quan_ly_thiet_bi.Models.EF.HISTORY>)ViewBag.list_history;
    var list_user = (List<Quan_ly_thiet_bi.Models.EF.USER>)ViewBag.list_user;
    var list_check = (List<Quan_ly_thiet_bi.Models.EF.Checkmaintenance>)ViewBag.list_check;
    var list_main = (List<Quan_ly_thiet_bi.Models.EF.Maintenance>)ViewBag.list_main;
    var list_classify = (List<Quan_ly_thiet_bi.Models.EF.Classifymaintenance>)ViewBag.list_classify;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết thiết bị</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        
        <div class="card-body">
            <table class="table table-bordered" id="dataTable" style="width:50%;float:left;color:black;" cellspacing="0">
                <tr>
                    <th>Tên thiết bị:</th>
                    <td>
                        @Model.DeviceName
                    </td>
                </tr>
                <tr>
                    <th>Model:</th>
                    <td>
                        @Model.Model
                    </td>
                </tr>
                <tr>
                    <th>Serial:</th>
                    <td>
                        @Model.ScortCode
                    </td>
                </tr>
                <tr>
                    <th>Nhà cung cấp:</th>
                    <td>
                        @Model.VendorName
                    </td>
                </tr>
                <tr>
                    <th>Giá thiết bị:</th>
                    <td>
                        @String.Format("{0:c}", Model.DevicePrice)
                    </td>
                </tr>
                <tr>
                    <th>Nhóm thiết bị</th>
                    <td>
                        @foreach (var item in list_group)
                        {
                            if (Model.DeviceGroup == item.ID_GROUP)
                            {
                                @item.NAME
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>Số lượng</th>
                    <td>
                        @Model.Qty
                    </td>
                </tr>
                <tr>
                    <th>Kế hoạch kiểm tra</th>
                    <td>
                        @Html.DisplayFor(model => model.DatePlan)
                    </td>
                </tr>
                <tr>
                    <th>Thời gian thực hiện kiểm tra</th>
                    <td>
                        @Html.DisplayFor(model => model.DateMaintenance)
                    </td>
                </tr>
                <tr>
                    <th>Mục đích</th>
                    <td>
                        @Model.Purpose
                    </td>
                </tr>
                <tr>
                    <th>Ghi chú</th>
                    <td>
                        @Model.Remark
                    </td>
                </tr>
            </table>
            <table class="table table-bordered" id="dataTable" style="width:50%;color:black;" cellspacing="0">
                <tr>
                    <th>Nhân viên</th>
                    <td>
                        @foreach (var item in list_user)
                        {
                            if (Model.Creator == item.ID_USER)
                            {
                                @item.NAME
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>Hình ảnh</th>
                    <td>
                        <img src="@Model.Image1" style="width:200px;height:220px;" />
                    </td>
                </tr>
                <tr>
                    <th>Thời gian lắp đặt</th>
                    <td>
                        @Html.DisplayFor(model => model.Installtime)
                    </td>
                </tr>
                <tr>
                    <th>Tình trạng</th>
                    <td>
                        @if (Model.Status == 0)
                        {<h6>Dừng hoạt động</h6> }
                        else
                        {  <h6>Đang hoạt động</h6> }
                    </td>
                </tr>
                <tr>
                    <th>Kết quả kiểm tra</th>
                    <td>
                        @Model.Updater
                        (@foreach (var item_his in list_history)
                        {
                            if (item_his.ID_DEVICE == Model.Id && item_his.STATUS == TaskType.Repair.ToString())
                            {
                                @item_his.NOTE
                            }
                        })
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <h5>Danh mục bảo trì</h5>
          
            <table class="table table-bordered" id="dataTable1" cellspacing="0" style="color:black;">
                <thead>
                    <tr>
                        @*<th>Tên thiết bị</th>*@
                        <th>Hạng mục kiểm tra bảo trì</th>
                        <th>Phân loại bảo trì</th>
                        <th>Tần suất kiểm tra</th>
                        <th>Người phụ trách</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;}
                    @foreach (var item_main in list_main)
                    {
                        i++;
                        if (Model.Id == item_main.Id_device)
                        {
                            <tr>
                               
                                @*<td rowspan=""> 
                                   
                                @if (Model.Id == item_main.Id_device)
                                {@Model.DeviceName }
                                </td>*@   
                                                             
                                    @foreach (var item_check in list_check)
                                    {
                                        if (item_main.Checkmaintenance == item_check.Id__Checkmaintenace)
                                        {
                                            <td>
                                                @item_check.Checkmaintenace
                                            </td>
                                            <td>
                                                @foreach (var item_classify in list_classify)
                                                {
                                                    if (item_classify.Id_Classifymaintenance == item_check.Classifymaintenance)
                                                    {
                                                        @item_classify.Name;
                                                    }
                                                }
                                                
                                             
                                            </td>
                                        }
                                    }

                               <td>@item_main.FrequencyCheck</td>

                               <td>@item_main.Personmaintenance</td>

                           </tr>
                        }

                    }
                   
                </tbody>
            </table>
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btn_add_click" style="margin-bottom:10px;">
                <i class="fa fa-plus"> Thêm danh mục bảo trì thiết bị</i>
            </button>
            <br />
        </div>
    </div>
    <!-- Modal add-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="col-12" style="display:none;">
                        <input type="text" class="form-control" id="Id" name="Id" />
                    </div>
                    <div class="col-12" style="display:none;">
                        <input type="text" class="form-control" id="Id_device" name="Id_device"  value="@Model.Id"/>
                    </div>
                    <div class="container-modal" style="margin:5px 0px;">
                        <div class="col-12" style="float:left;">
                            <label><b>Loại bảo dưỡng</b></label><br />
                            @foreach (var item_class in list_classify)
                            {

                                <input type="radio" id="Classifymaintenance" name="Classifymaintenance" value="@item_class.Id_Classifymaintenance" /> @item_class.Name  <br />
                            }
                        </div>
                        <div class="col-12" style="float:left;">
                            <label><b>Hạng mục kiểm tra</b></label>
                           <br />
                            <div id="classify1">
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="4" /> Bảo dưỡng định kỳ  <br />
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="5" /> Bảo dưỡng tổng thể
                            </div>
                            <div id="classify2">
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="1" /> Kiểm tra, bắn nhiệt độ đầu cáp  định kì  <br />
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="10" /> Thay thế lọc thô<br />
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="2" /> Kiểm tra vệ sinh định kỳ<br />
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="3" /> Kiểm tra định kỳ<br />
                                
                            </div>
                            <div id="classify3">
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="6" /> Vệ sinh đầu báo, chuông đèn, nút nhấn, đo điện áp  <br />
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="7" /> Bảo dưỡng toàn bộ( Thay lọc, tách dầu, dầu bôi trơn, bình ắc quy, vệ sinh…)<br />
                                <input type="radio" id="Checkmaintenance" name="Checkmaintenance" value="8" /> Bảo dưỡng định kì ( Vệ sinh, thay thế cục lọc, bổ sung muối, sục rửa đường ống, vòi uống…)
                            </div>
                        </div>
                    </div>

                    <div class="col-12" style="margin:5px 0px;float:left;">
                        <label><b>Tần suất bảo dưỡng</b></label>
                        <input type="text" class="form-control" id="FrequencyCheck" name="FrequencyCheck" />
                    </div>
                    <div class="col-12" style="margin:5px 0px;float:left;">
                        <label><b>Người phụ trách</b></label>
                        <input type="text" class="form-control" id="Personmaintenance" name="Personmaintenance" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_close">Đóng</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_Add" value="">Thêm</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js" integrity="sha512-h3RrO+eudpiPUYFkwORXD2ppuy9jOXQ+MzVEIo7k+OuA7y9Ze5jsQ5WN/ZSgI+ZSIngT6pDSaqpgmnam2HPe1g==" crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="~/Scripts/maintenance.js"></script>