<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>
    <!-- Divider -->
   
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Danh sách quản lý</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="@Url.Action("Index","Group_device")">Nhóm thiết bị</a>
                <a class="collapse-item" href="@Url.Action("","")">Thiết bị </a>
                <a class="collapse-item" href="@Url.Action("Index","User")">Nhân viên</a>
                <div class="dropdown">
                    
                     <p class="collapse-item dropdown-toggle" data-toggle="dropdown">Kế hoạch sửa chữa</p>  
                   
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("GetMonth1","PlaneRepair")">Tháng 1</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth2","PlaneRepair")">Tháng 2</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth3","PlaneRepair")">Tháng 3</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth4","PlaneRepair")">Tháng 4</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth5","PlaneRepair")">Tháng 5</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth6","PlaneRepair")">Tháng 6</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth7","PlaneRepair")">Tháng 7</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth8","PlaneRepair")">Tháng 8</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth9","PlaneRepair")">Tháng 9</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth10","PlaneRepair")">Tháng 10</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth11","PlaneRepair")">Tháng 11</a>
                        <a class="dropdown-item" href="@Url.Action("GetMonth12","PlaneRepair")">Tháng 12</a>
                    </div>
                </div>
            
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
