<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="">
            <img src="~/Admin/img/umc_vn.PNG" style="width:223px;height:70px;"/>
        </div>
       
    </a>
    <!-- Divider -->
   
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Danh sách quản lý</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="@Url.Action("Index","Group_device")">Nhóm thiết bị</a>
                @*<a class="collapse-item" href="@Url.Action("Index","Device")">Thiết bị </a>*@
                <a class="collapse-item" href="@Url.Action("Index","User")">Nhân viên</a>
                <div class="dropdown">
                    
                     <p class="collapse-item dropdown-toggle" data-toggle="dropdown">Kế hoạch sửa chữa</p>  
                   
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Month_1","PlanRepair")">Tháng 1</a>
                        <a class="dropdown-item" href="@Url.Action("Month_2","PlanRepair")">Tháng 2</a>
                        <a class="dropdown-item" href="@Url.Action("Month_3","PlanRepair")">Tháng 3</a>
                        <a class="dropdown-item" href="@Url.Action("Month_4","PlanRepair")">Tháng 4</a>
                        <a class="dropdown-item" href="@Url.Action("Month_5","PlanRepair")">Tháng 5</a>
                        <a class="dropdown-item" href="@Url.Action("Month_6","PlanRepair")">Tháng 6</a>
                        <a class="dropdown-item" href="@Url.Action("Month_7","PlanRepair")">Tháng 7</a>
                        <a class="dropdown-item" href="@Url.Action("Month_8","PlanRepair")">Tháng 8</a>
                        <a class="dropdown-item" href="@Url.Action("Month_9","PlanRepair")">Tháng 9</a>
                        <a class="dropdown-item" href="@Url.Action("Month_10","PlanRepair")">Tháng 10</a>
                        <a class="dropdown-item" href="@Url.Action("Month_11","PlanRepair")">Tháng 11</a>
                        <a class="dropdown-item" href="@Url.Action("Month_12","PlanRepair")">Tháng 12</a>
                    </div>
                </div>
            
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
